{% extends "base.html" %}
{% block content %}


<script>
function validateForm() {
    let semester = document.getElementById("semester").value.trim();
    let department = document.getElementById("department").value.trim();

    if (semester === "" && department === "") {
        alert("Please fill at least Semester or Department");
        return false; // stop form submit
    }
    return true; // allow submit
}
</script>

<form method="post" onsubmit="return validateForm()">
  <br />
  Semester:
  <select name="semester" id="semester">
        <option value="">Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="">6</option>
    
    </select>

   Department:
    <select name="department" id="department">
    <option value="">Select</option>
    <option value="BSc IT">BSc IT</option>
    <option value="BSc CS">BSc CS</option>
    <option value="BCA">BCA</option>
    </select>
    <br><br>

  <button>Generate Timetable</button>
</form>

<br />
<br />
<br />
<br />