* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parentDashboard {
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0ecf6;
}

.page-with-super-sidebar {
    transition: padding-left 0.2s, transform 0.2s;
}

.dashboardLogo {
    width: 60px;
    height: auto;
}

.dashboardCollegeName {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    letter-spacing: 1px;
    color: #2c3e50;
    font-weight: 600;
    margin: 0;
    font-size: 16px;
    /* font-size: clamp(32px, 5vw, 56px); */
}


.dashboarddescribtion {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    color: #2c3e50;
    font-size: smaller;
    display: flex;
    margin: 0;
    font-size: 13px;
    color: #6c757d;
    justify-content: center;
}

.mainTextDashboard {
    border-bottom: 0;
    border: 1px solid #d9d9d9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* padding: 10px; */
}

.leftDownBar {
    border: 1px solid #d9d9d9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.mainSideBarPanel {
    border-right: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%
}

.mainBarPanel {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%
}

.leftTopBar {
    background-color: #fbfafd;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: #ffffff;
    padding: 15px 20px;
    /* border-radius: 12px; */
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08); */
}

.leftDownBar {
    background-color: antiquewhite;
    border-radius: 15px;
}

.dashboardContent {
    background-color: antiquewhite;
    border-radius: 15px;
    /* margin-inline: 10px; */
    border: 1px solid #d9d9d9;
}

.breadCrump {
    align-items: center;
    display: flex;
    font-size: 12px;
    list-style: none;
    margin: 0;
}

.breadCrumbItem:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 20px !important;
}

.breadCrumbItem {
    background-color: white !important;
    border: 0 solid #d9d9d9 !important;
    color: black;
    cursor: pointer;
    display: flex !important;
    height: 42px;
    margin: 0 5px 0 0;
    padding: 10px 25px;
    padding-left: 38px !important;
    position: relative;
}

/* .school .mainContent .mainContentWrapper.afterLoggedIn .centerTopBlock .centerTopBlockView .breadCrumbBlock .breadCrumb .breadCrumbItem .breadCrumbDisablelink:after,
.school .mainContent .mainContentWrapper.afterLoggedIn .centerTopBlock .centerTopBlockView .breadCrumbBlock .breadCrumb .breadCrumbItem .breadCrumbLink:after,
.school .mainLayoutPanel .mainContentWrapper.afterLoggedIn .centerTopBlock .centerTopBlockView .breadCrumbBlock .breadCrumb .breadCrumbItem .breadCrumbDisablelink:after,
.school .mainLayoutPanel .mainContentWrapper.afterLoggedIn .centerTopBlock .centerTopBlockView .breadCrumbBlock .breadCrumb .breadCrumbItem .breadCrumbLink:after {
    border-color: transparent;
    border-style: solid;
    border-width: 21px 0 21px 20px;
    content: "";
    height: 0;
    left: 100%;
    position: absolute;
    top: 0;
    width: 0
} */

.breadCrumbItem:not(:last-child):after {
    border-left-color: #f0ecf6;
    transform: translate(4px);
    z-index: 1
}

.breadCrumbItem:after {
    border-color: transparent;
    border-style: solid;
    border-width: 21px 0 21px 20px;
    content: "";
    left: 100%;
    position: absolute;
    top: 0
}

.breadCrumbItem span:before {
    border-color: transparent;
    border-left-color: inherit;
    border-style: solid;
    border-width: 21px 0 21px 20px;
    color: white;
    content: "";
    height: 0;
    left: 100%;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 9;
}

.firstBlock {
    background: #fff;
    border: 1px solid #e9e9e9 !important;
    box-shadow: 0 0 1px rgb(0 0 0 / 5%), 0 15px 30px rgb(0 0 0 / 4%);
    height: fit-content;
    border-radius: 10px;
}

.current_season {
    width: 200px;
    height: auto;
    border-radius: 10px;
}