{% extends "base.html" %}
{% block content %}
<h2>Add Subject</h2>
<form method="post">
 Department:
<select name="department" required>
  <option value="">Select</option>
  <option value="BSc IT">BSc IT</option>
  <option value="BSc CS">BSc CS</option>
  <option value="BCA">BCA</option>
</select>
  Semester: <input name="semester" required>
  Subject: <input name="subject" required>
  Type:
  <select name="type">
    <option>theory</option>
    <option>lab</option>
  </select>
  Hours/Week: <input name="hours" required>
  <button>Add</button>
</form>
{% endblock %}
