{% extends "base.html" %}
{% block content %}

<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<script>
function validateForm() {
    let semester = document.getElementById("semester").value.trim();
    let department = document.getElementById("department").value.trim();

    if (semester === "" && department === "") {
        alert("Please fill at least Semester or Department");
        return false; // stop form submit
    }
    return true; // allow submit
}
</script>

<form method="post">
  <br />
  Semester:
  <select name="semester" id="semester">
        <option value="">Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    
    </select>

   Department:
    <select name="department" id="department">
    <option value="">Select</option>
    <option value="BSc IT">BSc IT</option>
    <option value="BSc CS">BSc CS</option>
    <option value="BCA">BCA</option>
    </select>
    <br><br>

  <button>View Timetable</button>
</form>

<br />
<br />
<br />
<br />
<!-- 
<div border="1" cellpadding="8">
    {% if department %} 
    {% endif %}
    
    {% if semester %}
    {% endif %}
</div> -->

{% if searched and not grid %}
<p>No timetable available.</p>
{% endif %}

{% if grid %}
    <table border="1" cellpadding="8">
        <tr>
            <th>DAY / TIME</th>
            {% for t in time_map.values() %}
                <th>{{ t }}</th>
            {% endfor %}
        </tr>

        {% for day, periods in grid.items() %}
        <tr>
            <th>{{ day }}</th>
            {% for subject in periods.values() %}
                <td>{{ subject if subject else "-" }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endif %}

<br />

<br />
<br />
<br />


<a href="{{ url_for('home') }}">Back to Home</a>
<br />


{% endblock %}